.form-field-wrapper {

  .form-field-element-wrapper {
    justify-content: space-between !important;

    .react-date-picker__wrapper {
      width: 100%;
      justify-content: space-between;

      .react-date-picker__inputGroup {
        display: flex;
        width: 100%;
        min-width: 0;
        align-items: center;

        .react-date-picker__inputGroup__input--hasLeadingZero {
          margin-left: 0 !important;
        }

        .react-date-picker__inputGroup__day {
          max-width: 2.2rem !important;
        }

        .react-date-picker__inputGroup__month {
          max-width: 2.8rem !important;
        }

        .react-date-picker__inputGroup__year {
          width: 4rem;
        }
      }
    }

    .react-date-picker__calendar-button {
      display: none;
    }

    .react-date-picker {
      width: 100%;

      .react-date-picker__wrapper {
        border: none;
      }

    }

    .react-calendar__tile--now,
    .react-calendar__tile--active,
    .react-calendar__tile--active:enabled:hover {
      background-color: var(--input-box-shadow-color);
    }
  }
}